.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  gap: 20px;
}
.input {
  width: 25rem;
}
.forget {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 10px;
  font-size: 22px;
  color: var(--principal-borda);
}