.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.label {
  font-size: 18px;
  color: var(--texto-principal);
  margin-left: 8px;
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid var(--principal-borda);
  border-radius: 10px;
  padding: 0 12px;
  color: var(--texto-principal);
  font-size: 16px;
}

.container input {
  flex: 1;
  padding: 16px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 18px;
  font-family: 'Gochi Hand', sans-serif;
}

.icon {
  position: absolute;
  right: 12px;
  color: var(--texto-secundario);
  cursor: pointer;
}

.error {
  position: absolute;
  top: 110%;
  color: var(--alerta-borda);
  font-size: 14px;
  margin-top: 4px;
}