.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24rem;
  height: 3rem;
  background-color: var(--principal-preenchimento);
  color: var(--texto-principal);
  font-size: 1.5rem;
  font-family: 'Gochi Hand', sans-serif;
  border: 2px solid var(--principal-borda);
  border-radius: 10px;
  cursor: pointer;
}
.container:hover {
  background-color: var(--secundario-preenchimento);
  border-color: var(--secundario-borda);
}
.container:disabled {
  cursor: not-allowed;
  border-color: var(--cinza-claro);
  background-color: var(--cinza-escuro);

}