.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 2px solid var(--principal-borda);
  border-radius: 20px;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 25px;
}
.title {
  font-size: 32px;
  font-weight: bold;
  color: var(--principal-borda);
  margin-bottom: 10px;
}
.button {
  width: 510px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  width: 500px;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  color: var(--texto-secundario);
}
.link {
  margin-left: 5px;
  font-size: 22px;
  color: var(--secundario-borda);
}